
    <!--#include virtual="/header.xhtml" -->

    <!--#include virtual="/menu.xhtml" -->

    <div id="main">
      <h1>Contacts</h1>
      <ul>
        <li><b>Debian Ports archive</b>:&nbsp;<a href="mailto:ftpmaster@ports-master.debian.org">ftpmaster@ports-master.debian.org</a></li>
        <li><b>alpha buildd maintainers</b>:&nbsp;<a href="mailto:alpha@buildd.debian.org">alpha@buildd.debian.org</a></li>
        <li><b>hppa buildd maintainers</b>:&nbsp;<a href="mailto:hppa@buildd.debian.org">hppa@buildd.debian.org</a></li>
        <li><b>ia64 buildd maintainers</b>:&nbsp;<a href="mailto:ia64@buildd.debian.org">ia64@buildd.debian.org</a></li>
        <li><b>m68k buildd maintainers</b>:&nbsp;<a href="mailto:m68k@buildd.debian.org">m68k@buildd.debian.org</a></li>
        <li><b>powerpc buildd maintainers</b>:&nbsp;<a href="mailto:powerpc@buildd.debian.org">powerpc@buildd.debian.org</a></li>
        <li><b>powerpcspe buildd maintainers</b>:&nbsp;<a href="mailto:powerpcspe@buildd.debian.org">powerpcspe@buildd.debian.org</a></li>
        <li><b>ppc64 buildd maintainers</b>:&nbsp;<a href="mailto:ppc64@buildd.debian.org">ppc64@buildd.debian.org</a></li>
        <li><b>riscv64 buildd maintainers</b>:&nbsp;<a href="mailto:riscv64@buildd.debian.org">riscv64@buildd.debian.org</a></li>
        <li><b>sh4 buildd maintainers</b>:&nbsp;<a href="mailto:sh4@buildd.debian.org">sh4@buildd.debian.org</a></li>
        <li><b>sparc64 buildd maintainers</b>:&nbsp;<a href="mailto:sparc64@buildd.debian.org">sparc64@buildd.debian.org</a></li>
        <li><b>x32 buildd maintainers</b>:&nbsp;<a href="mailto:x32@buildd.debian.org">x32@buildd.debian.org</a></li>
      </ul>
      <p>
        The <a href="https://lists.alioth.debian.org/mailman/listinfo/debian-ports-devel">debian-ports-devel</a> mailing list is
        used for the development.
      </p>
      <p>
        For any other questions or comments please contact <a href="mailto:ftpmaster@ports-master.debian.org">ftpmaster@ports-master.debian.org</a>
      </p>
    </div>
    <!--#include virtual="/footer.xhtml" -->
