    <!--#include virtual="/header.xhtml" -->

    <!--#include virtual="/menu.xhtml" -->

    <div id="main">
      <h1>CDN and mirrors</h1>
      <p>
        <a href="http://ftp.ports.debian.org/debian-ports">ftp.ports.debian.org</a> actually corresponds to
        two different servers, one in The Netherlands and one in USA. There are both accessible
        through both IPv4 and IPv6. In case you live far from these countries, you will find below a probably
        incomplete list of mirrors.
      </p>
      <p>
        Given the limited number of users for the architectures hosted by debian-ports,
        a lot more bandwidth is used to synchronise the mirrors than by the end users.
        We have therefore decided to use a <a href="http://deb.debian.org">content distribution network (CDN)</a>
        to distribute the debian-ports archive. It is recommended to use it in priority.
      </p>

      <table border="1">
        <tr>
          <th>Mirror</th><th>Country</th><th>URL</th><th>Push</th><th>IPv6</th><th>Architectures</th>
        </tr>
        <tr style="font-weight:bold">
          <td>deb.debian.org</td>
          <td align="center">All (CDN)</td>
          <td>
            <a href="http://deb.debian.org/debian-ports/">http</a>
          </td>
          <td align="center">Yes</td>
          <td align="center">Yes</td>
          <td align="center">All</td>
        </tr>
        <tr>
          <!-- debian-ftp@ftp.inf.tu-dresden.de -->
          <td>ftp.de.debian.org</td>
          <td align="center">DE</td>
          <td>
            <a href="http://ftp.de.debian.org/debian-ports/">http</a>,
            <a href="ftp://ftp.de.debian.org/debian-ports/">ftp</a>,
            <a href="rsync://ftp.de.debian.org/debian-ports/">rsync</a>
          </td>
          <td align="center">Yes</td>
          <td align="center">No</td>
          <td align="center">All</td>
        </tr>
        <tr>
          <!-- ftp@ftp.kaist.ac.kr -->
          <td>ftp.kr.debian.org</td>
          <td align="center">KR</td>
          <td>
            <a href="http://ftp.kr.debian.org/debian-ports/">http</a>,
            <a href="ftp://ftp.kr.debian.org/debian-ports/">ftp</a>,
            <a href="rsync://ftp.kr.debian.org/debian-ports/">rsync</a>
          </td>
          <td align="center">Yes</td>
          <td align="center">No</td>
          <td align="center">All</td>
        </tr>
      </table>

      <h1>Adding new mirrors</h1>
      <p>
        You can contact the <a href="https://wiki.debian.org/Teams/Mirrors">mirror team</a>
        in case you are interested in running a mirror for the debian-ports archive.
      </p>
    </div>
    <!--#include virtual="/footer.xhtml" -->
