/* GENERAL */

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

img {
  border: 0;
}


/* HEADER */
#header {
  display: none;
}

/* MENU */
#menu {
  display: none;
}

#menu .bl {
  background: url(images/bl-bbddff.png) 0 100% no-repeat #bbddff; 
  width: 180px;
}

#menu .br {
  background: url(images/br-bbddff.png) 100% 100% no-repeat
}

#menu .tl {
  background: url(images/tl-bbddff.png) 0 0 no-repeat
}

#menu .tr {
  background: url(images/tr-bbddff.png) 100% 0 no-repeat; 
  padding:10px;
}

#menu .clear {
  font-size: 1px;
  height: 1px;
}

#menu .title {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
}

#menu .links ul {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 30px;
}

/* MAIN */
#main {
  margin-left: 220px;
  margin-right: 20px;
  font-size: 14px;
  text-align: justify;
}

#main h1 {
  font-weight: bold;
  margin-top: 30px;
  font-size: 24px;
}

#main h2 {
  font-size : 14px;
  font-weight: bold;
  margin-top: 20px;
}

#main pre {
  font-size: 12px;
  font-family: monospace;
}

#main table {
  border-collapse: collapse;
  font-size: 14px;
  empty-cells: show;
  padding: 4px;
  margin-top: 1ex;
}

#main th {
  padding: 4px;
  background-color: #cccccc;
}

#main td {
  padding: 4px
}

/* FOOTER */
#footer {
  padding-top: 10px;
  clear: both;
  font-size: 10px;
  text-align: center;
}

/* LINKS */

a:link {
  text-decoration: none;
  color: #0000cd;
}

a:visited {
  text-decoration: none;
  color: #0000cd;
}

a:active {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #0000cd;
}

